In [173]:
# 문자열을 대, 소문자 변경

a_text = "Hello world"

# upper() : 모든 문자열을 대문자로 변경
print(a_text.upper())

# lower() : 모든 문자열을 소문자로 변경
print(a_text.lower())

# swapcase() : 대문자를 소문자로 소문자를 대문자로 변경
print(a_text.swapcase())

# title() : 단어의 첫글자를 대문자로 변경
print(a_text.title())

HELLO WORLD
hello world
hELLO WORLD
Hello World

In [174]:
# 공백을 제거하는 함수
# strip() : 문자열의 좌우의 공백을 제거
# lstrip() : 문자열 좌측의 공백을 제거
# rstrip() : 문자열 우측의 공백을 제거

b_text = "  Hello world  "
print(b_text)

  Hello world

In [175]:
b_text

'  Hello world  '

In [176]:
# 좌우의 공백을 제거
b_text.strip()

'Hello world'

In [177]:
b_text.lstrip()
# 우측의 공백을 제거
b_text.rstrip()

'  Hello world'

In [178]:
c_text = "$$Hello%%"
print(c_text)

$$Hello%%

In [179]:
# 좌측의 $를 제거
c_text.lstrip('$')

'Hello%%'

In [180]:
# 우측의 %를 제거
c_text.rstrip('%')

'$$Hello'

In [181]:
# replace({치환을 할 문자열, {치환이 될 문자열})
c_text = 'Hello World'
c_text.replace('Hello', 'Hi')

'Hi World'

In [182]:
# replace()함수를 이용하여 문자의 공백을 제거
d_text = "  Hello  world  "
d_text

'  Hello  world  '

In [183]:
d_text.replace(" ", "")

'Helloworld'

In [184]:
# split() : 특정한 문자열을 이용하여 문자열을 나눠주는 함수
e_text = "a,b,c,d"
e_text.split(',')

['a', 'b', 'c', 'd']

In [185]:
f_text = 'a/b/c/d'
f_text.split('/')

['a', 'b', 'c', 'd']

In [186]:
a = 'hello'
a.find('b')

-1

### 함수
 어떠한 입력값을 가지고 작업을 실행하고 결과물을 출력한다.

In [187]:
# 매개변수가 존재하지 않는 함수를 생성
# 매개변수가 존재하지 않으면 함수를 동일한 행동을 반복
def func_1():
    result = 'hello'
    return result

In [188]:
print(func_1())
print(func_1())
print(func_1())

hello
hello
hello

In [189]:
# 매개변수가 존재하는 함수를 생성
def func_2(a,b):
    result = a + b
    return result

In [190]:
# 매개변수가 2개인 함수를 호출 -> 해당하는 함수를 호출을 할때는 인자의 개수가 2개
print(func_2(4,5)) # 9 
print(func_2(1,2)) # 3

9
3

In [191]:
# error code
# 매개변수의 개수와 인자의 개수가 다르게 호출하는 경우
print(func_2(5))

TypeError: func_2() missing 1 required positional argument: 'b'

In [ ]:
# 함수를 생성할때 매개변수에 기본값을 지정
def func_3(a, b =2): 
    result = a ** b
    return result

In [ ]:
print(func_3(5,3)) #125
print(func_3(8)) # 64

125
64

In [ ]:
def func_4(input_x, input_y): 
    result = input_x - input_y
    return result

In [ ]:
print(func_4(10,3)) #7
print(func_4(input_y = 10, input_x =3)) #-7

7
-7

In [ ]:
# 함수 생성
# 매개변수는 2개 -> start, end
# start부터 시작해서 end까지의 누적합을 출력
# start의 기본값은 1, end의 기본값은 10
def func_5(start = 1, end = 10):
    # 합계라는 초기 값은 0으로 지정 
    result = 0
    
    # start부터 end까지 반복을 하는 반복문을 생성
    for i in range(start, end+1, 1): 
        # result = result + i
        result += i
    # for문 종료 후
    return result

In [ ]:
# 함수 생성
# 매개변수는 2개 -> start, end
# start부터 시작해서 end까지의 누적합을 출력
# start의 기본값은 1, end의 기본값은 10
def func_5(start = 1, end = 10):
    # 합계라는 초기 값은 0으로 지정 
    result = 0
    
    # start부터 end까지 반복을 하는 반복문을 생성
    for i in range(start, end+1, 1): 
        # result = result + i
        result += i
    # for문 종료 후
    return result

In [ ]:
print(func_5())
# start = 1, end = 10, result = 0
# for i in range(1, 11, 1): 
# result = result + i--> result = 0+1
# return result --> result를 되돌려주고 함수를 종료

55

In [ ]:
def func_6(start = 1, end = 10):
    # 합계라는 초기 값은 0으로 지정
    result = 0

    # start부터 end까지 반복을 하는 반복문을 생성
    for i in range (start, end+1, 1):
        # rsult = result + i
        result += i
    # for문 종료후
    return result

In [ ]:
print(func_6())
# start = 1, end = 10, result = 0
# for i in range(1, 11, 1):
#  result = result + i --> result = 0+1
#  result = result + i --> result = 1+2
# ...
#  result = result + i --> result = 36+9
#  result = result + i --> result = 45+10
# return result

55

In [ ]:
print(func_6(end=100))

5050

In [ ]:
# 1부터 100까지의 누적합 도중 합계가 3000이 넘어가는 최초의 숫자는 몇일까?

# 합계 초기값을 지정 0
sum_result = 0 

for i in range(1, 101, 1): 
    sum_result += i
    # 합계가 3000보다 큰 경우
    if sum_result > 3000:
        break
print(i)
print(sum_result)

77
3003

In [ ]:
# 1부터 1씩 증가시켜서 누적합이 15000이 되는 순간의 숫자가 몇인가?

sum_result = 0

for i in range (1, 500, 1): 
    sum_result += i
    if sum_result > 15000 : 
        break

print(i)
print(sum_result)

173
15051

In [ ]:
i = 1 
sum_result = 0

while True:
    sum_result += i
    if sum_result > 150000: 
        break
    i += 1

print(i)
print(sum_result)

548
150426

In [194]:
# 함수 생성
# 매개변수 2개 생성 
# 매개변수 사이의 값들의 누적합을 출력하는 함수
def func_7(x, y): 
    # 합계 초기값은 0으로 지정
    result = 0
    # x보다 y가 큰 경우 (ex. x가 1이고 y가 10 -> 1부터 10가지의 누적합)
    if x < y: 
        for i in range(x, y+1, 1): 
            result +=i
    # x보다 y가 작거나 같은 경우
    else:
        for i in range(y, x+1, 1):
            result +=i
    return result

In [195]:
print(func_7(1,10))

55

In [198]:
print(func_7(5,5))

5

In [207]:
def func_8(x, y): 
    reuslt= 0

    # 시작값이 x와 y중 작은 값
    # 종료값은 x와 y중 큰 값에 +1
    # 숫자 데이터들 중 가장 작은 데이터를 출력하는 함수 : min()
    # 숫자 데이터들 중 가장 큰 데이터를 출력하는 함수 : max()
    for i in range(min(x,y), max(x,y)+1, 1): 
        result += i
    return result

In [206]:
print(func_8(1, 10))
print(func_8(10, 1))
print(func_8(5, 5))

UnboundLocalError: cannot access local variable 'result' where it is not associated with a value

In [209]:
min(3, 10, 1)

1

In [225]:
# 인자의 개수가 가변인 경우의 함수를 생성
def func_9(*args):
    # print(type(args))
    # print(args)
    # print(len(args))
    # 인자값들 중 첫번째 데이터를 변수에 대입
    result = args[0]
    # 인자 값들 중 두번째 데이터부터 반복하는 반복문 생성
    for i in range(1, len(args), 1):
        # result와 args[i]항목을 비교
        if result > args[i]:
            result = args[i]
    return result

# args = (50, 49, 55, 42)
# result = 50
# for문에서 3번 반복 (시작값 1, 종료값 4, 증가값 1)
# result > args[1] (50 > 49) --> True
#   result = args[1] (result = 49)
# result > args[2] (49 > 55) --> False
# 아무 행동도 하지 않는다. (result = 49 )
# result > args[3] (49 > 42) --> True
# result = args[3] (result = 42)
# for문이 종료
# return result (return 42)

In [222]:
func_9(1,2,3,4,5)
func_9(2,4,6,8)
func_9(1,2,3,4,5,6,7,8,9,10)

1

In [226]:
print(func_9(50, 49, 55, 42))

42

In [ ]:
### 예제 문제
1. 함수를 생성 -> 인자의 개수를 가변
2. 인자값의 평균 값을 출력을 하는 함수
    1. 모든 인자값들을 더한다.
    2. 더한 데이터를 인자의 개수로 나눠준다.
    3. 나온 결과값을 되돌려준다.